body {
  margin: 0;
  font-family:'Ubuntu Mono', monospace;
    color: rgb(93, 80, 119);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:rgb(255, 255, 255);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.container {
  background-color:rgb(244, 241, 247);
  border-radius:20px;
  padding-top: 10px;
  margin-bottom:60px;
}

.home-cont {
  text-align:center;
}

h2 {
  padding:20px;
  text-align:center;
}

.title-name {
  background-color:rgba(226, 185, 226, 0.912);
  margin:0px auto;
  padding:10px;
  text-align:center;
  margin-top:10px;
  margin-bottom:13px;
  border-radius:10px;
  border-color: 3px solid rgb(128, 0, 28);
}

.subtitle {
  text-align:center;
  color:rgb(50, 151, 151);
}

.photo-description {
  background-color:rgb(244, 241, 247);
  padding:10px;
  border-radius:20px;
  margin-top:30px;
  text-align:center;
}
/* 
@media (min-width: 992px) {
.photo-description {
  display:grid;
  grid-template-columns:1fr 1fr;
}  */


.photo {
  text-align:center;
}

.description {
text-align:center;
padding-top:20px;
}

.proyects {
display:grid;
 grid-template-rows:1fr;
 grid-gap:10px;
}

.proyect {
display:grid;
 grid-template-columns:1fr 1fr;
 grid-gap:10px;
}

.title-cont {
  text-align:center;
  align-self: center;
  justify-self: center;
}

h3 {
  padding:20px;
}

h4 {
  color:rgb(102, 98, 104);
}

a.nav-link {
  font-size:24px;
}

.laptop {
text-align:right;
position: relative;
bottom: 0;
margin-right:20px;
padding-bottom:70px;
padding:10px;
}

.footer { 
 display:flex;
 justify-content:center;
  background-color: rgb(32, 20, 51);
  color:rgb(79, 206, 223);
  padding-top:15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  }